<body id="login-body">
<div class="login-box">

<h3 class="login-header">Please log in!</h3>


<%= form_tag sessions_path do %>

<div class = "login-label">
    <%= label_tag :username %>
     <%= text_field_tag :username, params[:username] %>
</div>
 
     

       
    <div class="login-label">
        <%= label_tag :password, "Password", :class => "password-label" %>  
        <%= password_field_tag :password %>     
    </div>
    
   <br>
        <%= submit_tag "Log In", :class => "myButton"%></a>
        <br>
        <br>
    
<% end %>


</div>

</body>