<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @item.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @item.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @item.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @item.phone %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @item.sold %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
